Today's affirmation from
{{fullName}}:
<b>{{message}}!</b>

<p>Not interested in receiving any more e-ffirmations? You can unsubscribe at
  any time by clicking
  <a
    id='unsubscribe'
    href='{{URL}}/unsubscribe?token={{subscriptionToken}}&subscriptionStatus=false'
  >here</a>.</p>