<p>Hi
  {{fullName}}, we're sorry to see you go! If you are every interested in
  getting e-ffirmations again, you can come back to this email and resubscribe
  at any time by clicking
  <a
    href='{{URL}}/resubscribe?token={{token}}&subscriptionStatus=true'
  >here</a>.</p>